.close-order {
	background-color: white;
	bottom: 0;
	padding: 15px 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.close-order button {
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: #CBCBCB;
	border: none;
	border-radius: 50px;
	transition: .3s;
}

.close-order span {
	display: inherit;
	font-size: 20px;
	line-height: 24px;
	width: 220px;
	margin: 0 auto;
	color: white;
}

.close-order button.active {
	background-color: #32B72F;
	padding: 22px 0;
}