.top-bar {
	background-color: #CF2B2B;
	top: 0;
	padding: 10px 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
	z-index: 1000;
}

.top-bar h1 {
	font-family: Righteous;
	font-size: 44px;
	line-height: 48px;
	letter-spacing: -1.2%;
	color: white;
	margin-bottom: 5px;
}

.top-bar strong {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: white;
}