* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #E5E5E5;
  color: #333;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
}

.flex {
  display: flex;
}

main,
.check-order {
  margin-top: 114px;
  margin-bottom: 118px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-family: Righteous;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
}